@media screen and (min-width: 0px) {
  h1 {
    text-align: left;
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/arimo/v24/P5sMzZCDf9_T_10UxCFuj5-v6dg.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }

  h2 {
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    font-size: 30px;
    src: url(https://fonts.gstatic.com/s/arimo/v24/P5sMzZCDf9_T_10UxCFuj5-v6dg.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }

  p {
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    font-size: 10px;
    src: url(https://fonts.gstatic.com/s/arimo/v24/P5sMzZCDf9_T_10UxCFuj5-v6dg.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }


  img {
    width: 450px;
    height: 300px;
  }

  .container {
    /* display:flex;
    flex-direction:row; */
  }

  .title1 {}

  .row {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 7rem;
  }

  .row2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 7rem;
  }

  img {
    padding-top: 10px;
    width: 350px;
    height: 200px;
  }


  .search-bar {
    margin-left: 20rem;
    margin-top: -3.5rem;
    width: 20%;
    height: 25px;
  }

  .header-title-text {
    font-size: 0.75rem;
    letter-spacing: 0em;
    float: left;
    margin-left: 2rem;
    margin-right: auto;
    margin-top: -1.65rem;
    color: purple;
    position: relative;
  }

  .location {
    font-size: 0.5rem;
    letter-spacing: 0em;
    float: left;
    margin-left: 5rem;
    margin-right: auto;
    margin-top: -1rem;
    position: relative;
  }

  .nav {
    margin-left: -5rem;
    margin-top: 1.25rem;
    height: 50px;
    width: 100%;
    background-color: transparent;
    position: relative;
  }

  .nav>.nav-header {
    display: inline;
  }

  .nav>.nav-header>.nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
  }

  .nav>.nav-btn {
    display: none;
  }

  .nav>.nav-links {
    text-align: left;
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/arimo/v24/P5sMzZCDf9_T_10UxCFuj5-v6dg.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
    display: inline;
    float: right;
    font-size: 16px;
    margin-top: 2rem;
  }

  .nav>.nav-links>a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #000000;
    /* work/p5js/about color */
  }

  .nav>.nav-links>a:hover {
    text-decoration: underline;
  }
}

@media screen and (min-width: 650px) {
  h1 {
    text-align: left;
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/arimo/v24/P5sMzZCDf9_T_10UxCFuj5-v6dg.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }

  h2 {
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    font-size: 30px;
    src: url(https://fonts.gstatic.com/s/arimo/v24/P5sMzZCDf9_T_10UxCFuj5-v6dg.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }

  p {
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    font-size: 10px;
    src: url(https://fonts.gstatic.com/s/arimo/v24/P5sMzZCDf9_T_10UxCFuj5-v6dg.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }


  img {
    width: 450px;
    height: 300px;
  }

  .container {
    /* display:flex;
    flex-direction:row; */
  }

  .title1 {}

  .row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 7rem;
  }

  .row2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 7rem;
  }

  img {
    padding-top: 10px;
    width: 350px;
    height: 200px;
  }


  .search-bar {
    margin-left: 20rem;
    margin-top: -3.5rem;
    width: 20%;
    height: 25px;
  }

  .header-title-text {
    font-size: 0.75rem;
    letter-spacing: 0em;
    float: left;
    margin-left: 2rem;
    margin-right: auto;
    margin-top: -1.65rem;
    color: purple;
    position: relative;
  }

  .location {
    font-size: 0.5rem;
    letter-spacing: 0em;
    float: left;
    margin-left: 5rem;
    margin-right: auto;
    margin-top: -1rem;
    position: relative;
  }

  .nav {
    margin-left: -5rem;
    margin-top: 1.25rem;
    height: 50px;
    width: 100%;
    background-color: transparent;
    position: relative;
  }

  .nav>.nav-header {
    display: inline;
  }

  .nav>.nav-header>.nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
  }

  .nav>.nav-btn {
    display: none;
  }

  .nav>.nav-links {
    text-align: left;
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/arimo/v24/P5sMzZCDf9_T_10UxCFuj5-v6dg.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
    display: inline;
    float: right;
    font-size: 16px;
    margin-top: 2rem;
  }

  .nav>.nav-links>a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #000000;
    /* work/p5js/about color */
  }

  .nav>.nav-links>a:hover {
    text-decoration: underline;
  }



}